<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- Environments Configuration -->
    <environments default="development">
        <environment id="development">
            <!-- Transaction Manager -->
            <transactionManager type="JDBC" />
            <!-- DataSource Configuration -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/pp2_membership" />
                <property name="username" value="root" />
                <property name="password" value="" />
            </dataSource>
        </environment>
    </environments>

    <!-- Mapper Configuration -->
    <mappers>
        <!-- Scan mapper package -->
        <package name="mapper" />
    </mappers>
</configuration>
